body {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#settingsBox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: white 0px 0px 5px;
    color: seagreen;
    background-color: palegreen;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 20px;
    border-radius: 10px;
}

#moveIcon {
    height: 30px;
    display: block;
    cursor: grab;
}

.slider {
    appearance: none;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}